@model IEnumerable<Class>
@{
    ViewData["Title"] = "الفصول";
}

<nav class="navbar navbar-expand-sm navbar-dark justify-content-center">

    <ul class="navbar-nav">

        <li class="nav-item list-inline-item">

            <a class="nav-link" href="/Stage/Index" onkeypress="goToStage()" onclick="goToStage()">

                <div class="rightIcon">
                    <i class="fas fa-university" tabindex="2" title="السنواتُ الدراسيّة"></i>
                </div>

            </a>

        </li>

    </ul>

</nav>

<div class="row2">
    @foreach (var cls in Model)
    {
        <a asp-action="Index" tabindex="1" asp-controller="Student" asp-route-id="@cls.Id" onclick="setClass(@cls.Id, @cls.Name)"
           asp- title="الفصل @cls.Stage - @cls.Name">@cls.Stage - @cls.Name</a>
    }
</div>

<div class="classes-op">
    <a class="add-new-class" tabindex="1" asp-action="Create" asp-controller="Class" title="اضافةُ فصلٍ جديدٍ">اضافةُ فصلٍ جديدٍ</a>
    <a class="edit-class" tabindex="1" asp-action="ListClass" asp-controller="Class" title="تعديلُ أو حذفُ فصلٍ">تعديلُ أو حذفُ فصلٍ</a>
</div>

<!-- This is all CSS files for this page -->
<link rel="stylesheet" href="~/css/sumOfAllFiles.css" />
<link rel="stylesheet" href="~/css/styleClasses.css" />

<script>
    function goToStage() {
        window.open('/Stage/Index/' + localStorage.getItem('stageId'), '_self');
    }
</script>