@model IEnumerable<Student>

@{
    ViewData["Title"] = "صفحةُ تسجيل الغياب في اليوم الحالي";
    ViewData["isNotAllow"] = true;
    IEnumerable<Class> classes = ViewData["ListClasses"] as IEnumerable<Class>;
}

<div id="myDiv">

    <nav class="navbar navbar-expand-sm navbar-dark justify-content-center" id="navbar-expand-sm">
        <ul class="navbar-nav">

            <li class="nav-item list-inline-item">
                <a class="nav-link" href="/Stage/Index" onkeypress="goToStage()" onclick="goToStage()">
                    <i class="fas fa-university" title="السنواتُ الدراسيّة" tabindex="3"></i>
                </a>
            </li>

            <li class="nav-item list-inline-item">
                <a class="nav-link" onkeypress="goClasses()" onclick="goClasses()" style="cursor: pointer;">
                    <i class="fas fa-chalkboard-teacher" title="الفُصول الدراسيّة" tabindex="3"></i>
                </a>
            </li>

        </ul>

        <a class="fas fa-user-cog" asp-action="AccountInfo" asp-controller="Account" tabindex="4" title="تعديلاتٌ في الحسابِ الخاص بك"></a>

        <a asp-action="Logout" asp-controller="Account" class="fas fa-sign-out-alt fa-rotate-180" title="تسجيلُ الخُروج" tabindex="4"></a>
    </nav>

    <!--=================================================================================================================================-->
    <!--This is for the search box -->
    <div class="search" id="searchInput">

        <form class="search-form">

            <input type="text" id="myInputForSearching" placeholder=" .... ابحَثْ عن طالبٍ في الفصلِ الحالي" tabindex="1" title="ابحَثْ عن طالبٍ في الفصلِ الحالي">

            <input type="submit" value="بحث" id="sub-btn">

        </form>

    </div>

    <!--=================================================================================================================================-->
    <!--The Table of the student-->
    <div class="container">

        <div class="table-responsive table-striped">

            <table class="table table-striped m-0 sortable" id="myTable">

                <thead class="thead-dark">

                    <tr>
                        <th scope="col">العمليات</th>
                        <th scope="col" tabindex="1" title="ترتيبُ الجدول">اسمُ الطالب</th>
                        <th scope="col" hidden>#</th>
                    </tr>

                </thead>

                <tbody>
                    @foreach (var student in Model)
                    {
                        <tr>
                            <td>
                                <!-- Call to action buttons -->
                                <ul class="list-inline m-0">

                                    <li class="list-inline-item">
                                        <button class="btn btn-danger btn-sm rounded-10 myDeleteButton" type="button" data-toggle="tooltip" data-placement="top" tabindex="1" onclick="deleteStd(this)"><i class="fa fa-trash" title="حذفُ الطالبِ @student.StudentName من الفصل"></i></button>
                                    </li>

                                    <li class="list-inline-item">
                                        <button class="btn btn-primary btn-sm rounded-10" type="button" data-toggle="modal" data-target="#myModal" onclick="transferStd(this)" data-placement="top" tabindex="1">
                                            <i title="نقلُ الطالب @student.StudentName لفصلٍ آخر" class="fa fa-plus"></i>
                                        </button>
                                    </li>

                                    <li class="list-inline-item">
                                        <button class="btn btn-success btn-sm rounded-10" type="button" data-placement="top" data-toggle="modal" onclick="changeName(this)" data-target="#exampleModalCenter" tabindex="1">
                                            <i title="تعديلُ بياناتِ الطالب @student.StudentName" class="fa fa-edit"></i>
                                        </button>
                                    </li>

                                </ul>

                            </td>

                            <td tabindex="1" title="@student.StudentName">@student.StudentName</td>

                            <th scope="row" hidden>@student.StudentId</th>

                        </tr>
                    }
                </tbody>

            </table>

        </div>

        <!--=================================================================================================================================-->
        <!--This is for adding new student in the class-->

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="modal-content">

                    <div class="modal-header">

                        <h5 class="modal-title" id="exampleModalLabel">اضافةُ طالبٍ جديد</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="غلقُ الأيقونة">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>

                    <div class="modal-body">

                        <form>

                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label"> : اسمُ الطالب</label>
                                <input type="text" class="form-control" id="recipient-name" placeholder="اسمُ الطالب المُراد اضافتِه" title="اسمُ الطالب المُراد اضافتِه">
                            </div>

                        </form>

                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-danger" data-dismiss="modal" title="غلقُ الأيقونة">غلقُ الأيقونة</button>

                        <button type="button" id="addStudent" class="btn btn-success" title="اضافة">اضافة</button>

                    </div>

                </div>

            </div>

        </div>

        <!--=================================================================================================================================-->
        <!--This is for adding the student for the another class-->

        <div class="modal fade" id="myModal" tabindex="-1">

            <div class="modal-dialog">

                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">نقلُ الطالب</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body bodyOfTheEditingModal">

                        <form class="form-inline">

                            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                <option selected disabled>الفصلُ المُراد نقل الطالب له...</option>
                                @foreach (var cls in classes)
                                {
                                    <option value="@cls.Id" title="@cls.Stage/@cls.Name">@cls.Stage/@cls.Name</option>
                                }
                            </select>

                            <button type="button" class="btn btn-primary my-1" id="transfer" title="حفظُ التغييرات">حفظُ التغييرات</button>

                        </form>

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger closeTheEditingModal" data-dismiss="modal" id="closeTrans">غلقُ التعديلات</button>
                    </div>

                </div>

            </div>

        </div>

        <!--=================================================================================================================================-->
        <!--This is for the checking the editing operation-->
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="modal-content">

                    <div class="modal-header">

                        <h5 class="modal-title" id="exampleModalLongTitle">تعديلُ الاسم الخاص بالطالب</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>

                    <div class="modal-body">

                        <div class="input-group mb-3">
                            <input type="text" id="oldName" class="form-control" placeholder="اسمُ الطالب قبل التعديل" aria-describedby="basic-addon2" disabled>
                        </div>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="اسمُ الطالب بعد التعديل" aria-describedby="basic-addon2" id="stdName">
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="cancelModel">إلغاء</button>
                        <button type="button" class="btn btn-primary" id="changeName">حِفظُ التعديل الآن</button>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<footer class="page-footer font-small special-color-dark pt-4">

    <div class="container">

        <ul class="list-unstyled list-inline text-center">

            <li class="list-inline-item">
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal" data-keyboard="true" title="اضافةُ طالبٍ جديد" id="exampleModal" tabindex="2">
                    إضافةُ طالبٍ جديد
                </button>
            </li>

            <li class="list-inline-item">
                <a asp-action="TimeAbsentTable" asp-controller="Absent" asp-route-id='@ViewData["currentClss"]' class="btn btn-primary btn-lg btn-block" tabindex="2" title="غيابُ الفصل لكُلِ طالبٍ على حِدة">
                    غيابُ الفصل لكُلِ طالبٍ على حِدة
                </a>
            </li>

            <li class="list-inline-item">
                <a asp-action="Index" asp-controller="absent" class="btn btn-primary btn-lg btn-block" target="_blank" tabindex="2" title="غيابُ كُلّ شهرٍ لهذا الفصل">
                    غيابُ كُلّ شهرٍ لهذا الفصل
                </a>
            </li>

        </ul>
    </div>
</footer>

<!-- This is all CSS files for this page -->
<link rel="stylesheet" href="~/css/sumOfAllFiles.css" />
<link rel="stylesheet" href="~/css/studentTable.css" />

<!-- This is all JAVASCRIPT files for this page -->

<script>
    document.getElementById("sub-btn").tabIndex = -1;
    function goClasses() {
        window.open('/Class/Index/' + localStorage.getItem('stageId'), '_self');
    }

    function goToStage() {
        window.open('/Stage/Index/' + localStorage.getItem('stageId'), '_self');
    }

    /*========================================================================*/
    //This is for sorting the data in the table alphabetically.
    $(document).ready(function () {
        var getCellValue = function (tr, idx) { return tr.children[idx].innerText || tr.children[idx].textContent; }

        var comparer = function (idx, asc) {
            return function (a, b) {
                return function (v1, v2) {
                    return v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2);
                }(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
            }
        };

        // do the work...
        Array.prototype.slice.call(document.querySelectorAll('th')).forEach(function (th) {
            th.addEventListener('keypress', function () {
                var table = th.parentNode
                while (table.tagName.toUpperCase() != 'TABLE') table = table.parentNode;
                Array.prototype.slice.call(table.querySelectorAll('tr:nth-child(n+2)'))
                    .sort(comparer(Array.prototype.slice.call(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                    .forEach(function (tr) { table.appendChild(tr) });
            })
        });
    });

</script>